.Button{
background-color: aliceblue;
height: 30px;
width: 30px;
border-radius: 5px;
box-sizing: border-box;
}

.Button2{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button3{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button4{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button5{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button6{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button7{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button8{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button9{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Button0{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonPlus{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonMinus{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonMultiply{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonComma{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonDiv{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.ButtonEqual{
    background-color: aliceblue;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}
